
@{
    ViewBag.Title = "Machine Parts";
}

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Machine Parts</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Machine Parts</span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Machine Parts List</h5>
                </div>
                <div class="card-body">

                    @(Html.Kendo().Grid<tblMachineParts>()
                                                  .Name("gridMachineParts")
                                                  .Columns(columns =>
                                                  {
                                                      if (AuthorizationHelper.CanEditDelete(ViewContext.RouteData.Values["Controller"].ToString()))
                                                      {
                                                          columns.Command(command =>
                                                          {
                                                              if (AuthorizationHelper.CanEdit(ViewContext.RouteData.Values["Controller"].ToString()))
                                                              {
                                                                  command.Edit().Text(" ");
                                                              }
                                                              if (AuthorizationHelper.CanDelete(ViewContext.RouteData.Values["Controller"].ToString()))
                                                              {
                                                                  command.Destroy().Text(" ");
                                                              }
                                                          }).Title("Action").HtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanEdit)
                                                             .HeaderHtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanEdit);

                                                      }
                                                      columns.Bound(d => d.ProductValue);
                                                      columns.Bound(d => d.ProductTypeName);
                                                      columns.Bound(d => d.Description);
                                                      columns.Bound(d => d.IPL);
                                                      columns.Bound(d => d.HSNCode);
                                                      columns.Bound(d => d.STDPrice);
                                                      columns.ForeignKey(d => d.MachineTypeId, (IEnumerable)ViewBag.MachineTypeList, "MachineTypeId", "MachineTypeName");

                                                  })
                                                  .ToolBar(toolbar =>
                                                  {
                                                      if (AuthorizationHelper.CanAdd(ViewContext.RouteData.Values["Controller"].ToString()))
                                                      {
                                                          toolbar.Create().Text("Add");
                                                      }
                                                  })
                                                  .Editable(editable =>
                                                  {
                                                      editable.Mode(GridEditMode.PopUp);
                                                      editable.DisplayDeleteConfirmation("Are you sure you want to delete these Machine Part?");
                                                      editable.Window(x => x.Title("Manage Machine Part"));
                                                  })
                                                  .Pageable(x =>
                                                  {
                                                      x.Refresh(true);
                                                      x.PageSizes(WebHelper.PageSizes);
                                                  })
                                                  .Sortable(sortable => sortable.AllowUnsort(false))
                                                  .Filterable()
                                                  .NoRecords()
                                                  .Events(grid => grid.Edit("edit"))
                                                  .DataSource(dataSource => dataSource
                                                      .Ajax()
                                                      .ServerOperation(true)
                                                      .PageSize(WebHelper.PageSize)
                                                      .Model(model => model.Id(d => d.MachinePartId))
                                                      .Events(events => events.Error("onError(\"gridMachineParts\")"))
                                                      .Create(update => update.Action("KendoSave", "MachinePart"))
                                                      .Read(read => read.Action("KendoRead", "MachinePart"))
                                                      .Update(update => update.Action("KendoSave", "MachinePart"))
                                                      .Destroy(update => update.Action("KendoDestroy", "MachinePart"))
                                                  ))
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function edit(e) {
        if (e.model.isNew()) {
            e.model.set("MachineTypeId", "");
        }
        e.container.data('kendoWindow').bind('activate', function () {
            setFocusById('ProductValue');
        });
    }

</script>
