<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:100%;">
        <tr>
            <td align="center" valign="middle">
                <table cellpadding="0" cellspacing="0" bgcolor="#f0f6f4" width="600" style="padding:20px 20px 20px 20px;">
                    <tr>
                        <td align="center" valign="middle"><a href="#"></a></td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:17px; line-height:20px; font-family:Arial, Helvetica, sans-serif;">THANK YOU FOR USING <span style="color:#1f6aa5; font-weight:bold;">Standard Engineering</span></td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" style="padding:50px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;"> Dear<span style="color:#1f6aa5; font-weight:bold;"> [@FirstName]</span>  </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">Please Click Following Link to Reset Password: <br /> <span style="color:#1f6aa5; font-weight:bold;"> [@link]</span>.</td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" style="padding:30px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            This email was generated as a request from the Forgot Login retrieval based on the search crieteria. This login information has only been sent to this Email Address
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>
</html>