<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Warranty Period Expiry Reminder</title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:100%;">
        <tr>
            <td align="center" valign="middle">
                <table cellpadding="0" cellspacing="0" bgcolor="#f0f6f4" width="600" style="padding:20px 20px 20px 20px;">
                    <tr>
                        <td align="center" valign="middle"><a href="#"></a></td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:17px; line-height:20px; font-family:Arial, Helvetica, sans-serif;">THANK YOU FOR USING <span style="color:#1f6aa5; font-weight:bold;">Standard Engineering</span></td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:17px; line-height:20px; font-family:Arial, Helvetica, sans-serif;"> WARRANTY IS UP , Reminder for Extension</td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" style="padding:50px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;"> Dear<span style="color:#1f6aa5; font-weight:bold;"> [@CustomerName]</span>  </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            I’m confident that you have been pleased with the performance of your <span style="color:#1f6aa5; font-weight:bold;"> [@MachineModel] </span> during the past several days and are looking forward to several more years of efficient use.
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" style="padding:30px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            However, I would like to remind you that the warranty on your [@MachineModel] - [@MachineType] having serial number [@MachineSerialNo]  is about to expire.
                            Our <span style="color:#1f6aa5; font-weight:bold;"> Annual Maintanance contract (AMC) </span> can potentially save you the cost of an expensive repair in the future. You’ll be happy to hear that this warranty includes both parts and labor, with onsite repair by our service technicians for your convenience.
                        </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="padding:30px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            I’ve taken the liberty of enclosing our warranty agreement. I urge you to review and return it before [@ExpiryDate], at which time your existing warranty expires and your eligibility for the extension lapses.
                            Please contact Standard Enginerring , if you are interested to have a look for Annual Maintanance contract (AMC) of Machine.
                        </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="padding:30px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            Thank you for your business. Please contact me at XXX-XXXX if I can be of any assistance.
                        </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="padding:30px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            Your Business Partner ,
                        </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            Standard Enginerring
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>
</html>